<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="random">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="TRENDYOL_SUPPLIER_ID" value="test-supplier-id"/>
        <env name="TRENDYOL_API_KEY" value="test-api-key"/>
        <env name="TRENDYOL_API_SECRET" value="test-api-secret"/>
        <env name="TRENDYOL_API_TEST_MODE" value="true"/>
    </php>
</phpunit> 